* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: white;
}

h1 {
    font-size: 4rem !important;
}

.adj-w {
    width: -50%;
}

.py-7 {
    padding: 6rem 0px;
}

.d-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section {
    position: relative;
    height: 100dvh;
    background-size: cover;
    backdrop-filter: blur(20px);

}

.wrap {
    backdrop-filter: blur(5px);
    height: inherit;
}

.logo {
    color: #FFF;
    padding: 20px;
    font-family: Poppins;
    font-size: 3.3125rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.main-card {
    border-radius: 2rem;
    /* background: linear-gradient(113deg, #AD36CB 32.23%, #333 67.37%); */
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(255, 250, 250, 0.25), 0px 4px 4px 0px rgba(253, 245, 245, 0.25);
    width: 50%;
    margin: auto;
    padding: 10px 20px;

}

.second-section {
    width: 45%;
    margin: 20px auto;
}

.clear {
    background: url('../img/pexels-photomix-company-96622.jpg') center;
}

.cloud {
    background: url('../img//cloud.jpg')center;
}

.def {
    background: url("../") center;
}

@media screen and (max-width: 580px) {
    .main-card {
        width: 100%;
    }

}